# this is just for our understanding purpose - sample env file.
# actual env file we have added it to .gitignore & will not get pushed to to github

PORT=4000

MONGODB_URI=mongodb+srv://kanishkvijaywargiya99:ProjmacOne001@proj-01.mc1mg.mongodb.net

CORS_ORIGIN=http://localhost #*

Config_Limit="16kb"

ACCESS_TOKEN_SECRET=OTUxya-01EWabcmjfsu_JCWUQTSHSEWERBCJISLAkx234WEASDC
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=WCERFBNSJ_123swdnUYWkx9172-AXNCBAJWMsaxxksxba08182
REFRESH_TOKEN_EXPIRY=10d



